<VirtualHost {{ SERVER_NAME }}:80>
  ServerName {{ SERVER_NAME }}-80to443

  ## Vhost docroot
  DocumentRoot "/var/www/html"

  ## Directories, there should at least be a declaration for /var/www/html

  <Directory "/var/www/html">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/80to443_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/80to443_access.log" combined
  ## Rewrite rules
  RewriteEngine On
  RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>
