# ************************************
# Vhost template in module puppetlabs-apache
# Managed by Puppet
# ************************************

<VirtualHost {{ SERVER_NAME }}:2633>
  ServerName {{ SERVER_NAME }}-xmlrpc-proxy

  ## Vhost docroot
  DocumentRoot "/var/www/html/"

  ## Directories, there should at least be a declaration for /var/www/html/

  <Directory "/var/www/html/">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/xmlrpc-proxy_error_ssl.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/xmlrpc-proxy_access_ssl.log" combined

  ## Proxy rules
  ProxyRequests Off
  ProxyPass / http://{{ ONE_XMLRPC_HOST }}:{{ ONE_XMLRPC_PORT }}/
  <Location />
    ProxyPassReverse http://{{ ONE_XMLRPC_HOST }}:{{ ONE_XMLRPC_PORT }}/
  </Location>

  ## SSL directives
  SSLEngine on
  SSLCertificateFile      "/etc/pki/tls/certs/xmlrpc.cer"
  SSLCertificateKeyFile   "/etc/pki/tls/private/xmlrpc.key"
  SSLCACertificatePath    "/etc/pki/tls/certs"
  SSLCACertificateFile    "/etc/pki/tls/certs/ca-bundle.crt"
</VirtualHost>
