# ************************************
# Vhost template in module puppetlabs-apache
# Managed by Puppet
# ************************************

<VirtualHost {{ SERVER_NAME }}:{{ ONEGATE_PORT }}>
  ServerName {{ SERVER_NAME }}:{{ ONEGATE_PORT }}

  ## Vhost docroot
  DocumentRoot "/var/www/html/"

  ## Directories, there should at least be a declaration for /var/www/html/

  <Directory "/var/www/html/">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/onegate-proxy_error_ssl.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/onegate-proxy_access_ssl.log" combined

  ## Proxy rules
  ProxyRequests Off
  ProxyPass / http://{{ ONEGATE_HOST }}:{{ ONEGATE_PORT }}/
  <Location />
    ProxyPassReverse http://{{ ONEGATE_HOST }}:{{ ONEGATE_PORT }}/
  </Location>

  ## SSL directives
  SSLEngine on
  SSLCertificateFile      "/etc/pki/tls/certs/onegate.cer"
  SSLCertificateKeyFile   "/etc/pki/tls/private/onegate.key"
  SSLCACertificatePath    "/etc/pki/tls/certs"
  SSLCACertificateFile    "/etc/pki/tls/certs/ca-bundle.crt"
</VirtualHost>
